<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <remove value="index.php" />
                <remove value="iisstart.htm" />
                <remove value="index.html" />
                <remove value="index.htm" />
                <remove value="Default.asp" />
                <remove value="Default.htm" />
            </files>
        </defaultDocument>
        <handlers>
            <add name="Sigev" path="*" verb="*" type="" modules="FastCgiModule" scriptProcessor="D:\Python36\Python.exe|D:\Python36\Lib\site-packages\wfastcgi.py"
            resourceType="Unspecified" requireAccess="Script" allowPathInfo="false" preCondition=""  />
        </handlers>
    </system.webServer>

    <appSettings>
        <!-- Required settings -->
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
        <!--<add key="WSGI_HANDLER" value="Sigev_app()" /> 
        <add key="PYTHONPATH" value="D:\Pytho36,D:\Pytho36\DLLs,D:\Pytho36\lib,D:\Pytho36\lib\site-packages" /> -->
        <add key="PYTHONPATH" value="C:\inetpub\wwwroot\sigev" />

        <!-- Optional settings -->
        <add key="WSGI_LOG" value="C:\inetpub\wwwroot\sigev\Logs\sigev.log" />
        <add key="WSGI_RESTART_FILE_REGEX" value=".*((\.py)|(\.config))$" />
        <add key="APPINSIGHTS_INSTRUMENTATIONKEY" value="__instrumentation_key__" />
        <add key="DJANGO_SETTINGS_MODULE" value="ProyectoWeb.settings" />
        <add key="WSGI_PTVSD_SECRET" value="__secret_code__" />
        <add key="WSGI_PTVSD_ADDRESS" value="localhost:8013" />
    </appSettings>



    
</configuration>

